<div class="bg col-12 img-fluid">
  <div class="container">
    <div class="row mt-5 ">
      <div class="col-12 col-sm-12 col-md-5 offset-md-6 bg-white p-5 mt-sm-0 mt-md-5 mt-lg-5 " data-aos="fade-down"
        data-aos-easing="linear" data-aos-duration="1000">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off" #postForm="ngForm">
          <div class="row mb-1 ">
            <div class="col-md-12 justify-content-end text-center" data-aos="flip-left" data-aos-easing="ease-out-cubic"
              data-aos-duration="2000">
              <img src="../../assets/Logo (1).png" alt="" style="width: 80px; height: auto;">
            </div>
          </div>
          <div class="row text-center">
            <div class=" form-group col-12 col-sm-12 col-md-12 col-lg-12 ">
              <h4 class="signUn mb-5 mt-2">ScanKart Merchant SignUp</h4>
              <input type="text" placeholder="User Name" formControlName="name"
                class="form-control form-control-lg br-none" data-inputmask-regex="[A-Za-z0-9]*"
                [ngClass]="{ 'is-invalid':submitted || f.name.touched && f.name.errors  }" />
              <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required should be Alphabets</div>

              </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-12 mt-2">
              <input type="email" placeholder="Email" formControlName="email"
                class="form-control form-control-lg br-none" id="email"
                [ngClass]="{ 'is-invalid': submitted || f.email.touched && f.email.errors }" />
              <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">must be a valid email address</div>
              </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-12 mt-2">
              <input type="number" placeholder="Phone Number" formControlName="phone" [(ngModel)]=phone
                class="form-control form-control-lg br-none"
                [ngClass]="{ 'is-invalid':submitted || f.phone.touched && f.phone.errors }" />
              <div *ngIf="f.phone.touched && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Phone number is required</div>
                <div *ngIf="f.phone.errors.pattern || f.phone.errors.maxlength || f.phone.errors.minlength">Phone number
                  must be at least 10 numbers</div>
                <!-- <p class="text-center text-danger" *ngIf='data.response.message== "User Already Existed with same email."'>{{data.response.message}}</p> -->
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 mt-2">
              <div class="form-group ">
                <button class="btn btn-lg btnMyColor w-100" [disabled]="!postForm.valid">Sign Up</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
