.btnMyColor{
  background-color:#9e64f0 ;
  color: white;
  width: 180px;
}

/* .btnMyColor:hover{
  background-color:#7634d3 ;
  width: 150px;
} */

/* .myBtn{
  border-radius: 35px;
} */

.lesBorder{
  border-bottom: solid  #9e64f0 2px ;
  box-shadow: 1px 1px 2px gray;
}

.removeUnderline{
  text-decoration: none;
  color: inherit;

}

@media (max-height : 425px){ /* from 0 to 800 px max height applies */
  center{
    justify-content: center;
  }
}
@media screen and (max-width: 1920px) and (min-width: 1200px){
  .center{
   width:220px
  }
}

@media screen and (max-width: 1460px) and (min-width: 1200px){
  .center{
   width:220px
  }
}
@media screen and (max-width: 1201px) and (min-width: 996px){
  .center{
   width:180px
  }
}
@media screen and (max-width: 768px){
  .center{
   width:120px;
   font-size: 12px;
  }
}

@media screen and (max-width: 425px) and (min-width: 300px){
  .center{
   width:150px;
   margin-top:10px;
   justify-content: center;
   align-items: center;
  }
  .hello{
    float: right;
    margin-top:-37px;

  }
}

@media screen and (max-width: 375px)and (min-width: 320px) {
  .center{
   width:130px;
   margin-top:10px;
   justify-content: center;
   align-items: center;
   /* font-size: 12px; */
  }
  .hello{
    float: right;
    margin-top:-30px;

  }
}
.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}

@media screen and (max-width: 425px) and (min-width: 300px){
  .textChange{
  font-size:14px;
  color:red;

  }

}

.myMargin{
  margin-top:230px;
  margin-right:-200px;
  /* position: fixed; */
}

.textColor{
  color:#9e64f0;
}

@media screen and (max-width: 425px) and (min-width: 300px){

  .textAlign{

      font-size: 18px;
      line-height: 26px;
      margin-left: 4px;
  }

  .otpAli{
    margin-top: 2px;
  }

}
.padding{
  margin-top: 5px;
}
.MyColor{
  background-color:#9e64f0;
  color: white;
}

